body{
    /* font-size:20px; */
    font-family: 'Ubuntu', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.bg-footer{
    background-color: black;
    color:white;
}
.navbar{
    background-color: yellow;
}
.aboutus{
background-color: blue ;
color: lavender;
}

.partners{
    background-color: rgb(187, 153, 0) ;
    color: lavender;
    }

.services{
        background-color: rgb(67, 165, 10) ;
        color: lavender;
        }
    
.mudarvis{
    display: none;
}
.margie{
    padding-top: 20px;
    padding-bottom: 20px;   
}